* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
}
.list {
  width: 500px;
  margin-right: 40px;
  padding-right: 50px;
  background-color: rgb(154, 194, 113);
  border-radius: 20px;
}
.fileName {
  float: left;
}
.size {
  float: right;
}
.l1 {
  background-color: rgb(237, 237, 237);
}
.l2 {
  background-color: #fff;
}
.l1,
.l2 {
  padding: 0 5px;
  height: 25px;
}
