* {
  padding: 0;
  margin: 0;
}
.big {
  width: 700px;
  height: 200px;
  margin: 10px;
  border: 1px solid gray;
}
.content {
  width: 150px;
  height: 150px;
  margin-top: 25px;
  margin-left: 25px;
  background-color: gray;
  float: left;
}
