* {
  padding: 0;
  margin: 0;
}
.big {
  width: 700px;
  height: 200px;
  margin: 10px;
  border: 1px solid gray;
  text-align: center;
  display: flex;
}
.content {
  width: 150px;
  height: 150px;
  margin: auto;
  background-color: gray;
}
